@import '../ui/shared/styles/common.scss';

:host {
  @include flex(column, unset, unset);

  flex: 1;

  .grid {
    @include flex(row, center, flex-start);

    height: 100%;
    width: 100%;
    padding: $sp-4;
    box-sizing: border-box;
    transition: color 0.1s ease, background-color 0.5s ease;

    .grid-container { 
      @include flex(column, center, center);

      flex: 1;
      gap: $sp-5;
      width: 100%;
      height: 100%;
      margin: $sp-4;

      .grid-item {
        flex: 1;
        display: flex;
        width: 100%;
      }
    }
  }

  .light-mode {
    background-color: rgb(255, 255, 255);
    color: #000;
  }

  .dark-mode {
    background-color: rgb(32, 32, 32);
    color: #fff;
  }
}

.map-container {
  width: 100%;
  height: 50%;
  
  flex: 2;

  #map {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px;
  }
}

.desc-container {
  flex: 2;
  width: 100%;
  padding: 0rem 3rem;
  box-sizing: border-box;
}

.temperature-container {
  width: 100%;
  flex: 1;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(to top right, #54bcdb, #a2d5f2);
  animation: fadeIn 2s forwards;
}

.current-temperature {
  font-size: 6rem;
  margin: $sp-4 0;
}

.description {
  @include flex(column, center, center);

  width: 100%;
  height: 100%;
  .row {
    @include flex(row, center, space-between);

    width: 100%;
  }
}

.temperature-title {
  @include flex(row, flex-start, space-between);

  flex: 2;
  width: 100%;
  height: 100%;
  padding: 3rem 3rem $sp-5;
  box-sizing: border-box;
  gap: 3rem;

  .content {
    @include flex(column, flex-start, center);
    color: white;
    height: 100%;
  }

  .current-image {
    @include flex(column, flex-end, center);
    
    height: 100%;
    min-width: 300px;
    position: relative;

    .current-weather-icon {
      @include flex(row, center, flex-end);
      position: relative;
      width: 150px;
      height: 150px;
      max-width: 200px;


      img {
        position: absolute;
        height: 100%;
      }

      .sun {
        opacity: 0;
        animation: fadeIn 0.5s forwards;
      }

      .cloudy {
        position: absolute;
        top: 15%;
        left: 65%;
        transform: translateX(-50%);
        z-index: 2;
        animation: slideIn 2s forwards;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 1;
    left: -50%;
  }
  to {
    opacity: 1;
    left: 15%;
    transform: translateX(-50%);
  }
}
