@import '../ui/shared/styles/common.scss';

:host {
  @include flex(column, unset, unset);

  flex: 1;

  .grid {
    @include flex(row, center, flex-start);

    height: 100%;
    width: 100%;
    padding: $sp-4;
    box-sizing: border-box;
    transition: color 0.1s ease, background-color 0.5s ease;

    .grid-container { 
      @include flex(column, center, center);

      flex: 1;
      gap: $sp-5;
      width: 100%;
      height: 100%;
      margin: $sp-4;

      .grid-item {
        flex: 1;
        display: flex;
        width: 100%;
      }
    }
  }

  .light-mode {
    background-color: rgb(32, 32, 32);
    color: #000;
  }

  .dark-mode {
    background-color: rgb(32, 32, 32);
    color: #fff;
  }
}

.temperature-container {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.current-temperature {
  font-size: 6rem;
  margin: 0;
}

.temperature-title {
  @include flex(column, flex-start, center);

  flex: 2;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
}