@import '../../shared/styles/common.scss';


$primary-color: #334cdb;
$input-border-color: #dcdcdc;
$input-focus-color: $primary-color;
$input-background: #ffffff;
$placeholder-color: #9e9e9e;

:host {
  box-sizing: border-box;
}

.container {
  @include flex(row, center, center);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .input-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }

  .ui-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
    
    &:focus {
      border-color: $input-focus-color;
      box-shadow: 0 0 0 1px rgba($input-focus-color, 0.5);
      outline: none;
    }

    &:not(:focus) + .placeholder {
      transform: translateY(0);
      font-size: 1rem;
      color: $placeholder-color;
    }

    &:focus + .placeholder,
    &:not(:placeholder-shown) + .placeholder {
      transform: translateY(-1.5rem);
      font-size: 0.75rem;
      color: $primary-color;
    }
  }

  .placeholder {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0rem 0.25rem;
    color: $placeholder-color;
    pointer-events: none;
    transition: all 0.2s ease, background-color 0.5s ease;
  }
}