@import '../../shared/styles/common.scss';

.select-options {
  position: relative;
  width: 150px; /* Ширина выпадающего списка */
  cursor: pointer;
  border-radius: 9999px;
}

// .select-options:hover {
//   border-radius: 9999px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
// }

.selected-option {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 9999px;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.selected-option:hover {
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.option {
  padding: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}