<div class="current-weather-icon">
  @if (type === '01d' || type === '01n') {
    <img class="sun" src="/assets/icons/wb-sunny.png" alt="sun">
  }
  @if (type === '02d' || type === '02n') {
    <img class="cloudy" src="/assets/icons/partly_cloudy_day.png" alt="cloudy">
  }
  @if (type === '04d' || type === '04n' || type === '03d' || type === '03n') {
    <img class="cloudy" src="/assets/icons/wb_cloudy.png" alt="cloudy">
    <img class="cloudy-background" src="/assets/icons/wb_cloudy_back.png" alt="cloudy_background">
  }
  @if (type === '50d') {
    <img class="cloudy" src="/assets/icons/foggy.png" alt="foggy">
  }
  @if (type === '13d') {
    <img class="cloudy" src="/assets/icons/snow.png" alt="cloudy">
  }
  @if (type === '10d') {
    <img class="cloudy" src="/assets/icons/rainy.png" alt="cloudy">
  }
  @if (type === '09d') {
    <img class="cloudy" src="/assets/icons/rainy.png" alt="cloudy">
  }
  @if (type === '11d') {
    <img class="cloudy" src="/assets/icons/thunderstorm.svg" alt="cloudy">
  }
</div>
