@import '../../shared/styles/common.scss';

.dropdown {
  position: relative;
  display: inline-block;
}

.button {
  @include flex(row, center, center);
}

.dropdown-menu {
  @include flex(column, center, center);
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  top: 100%;
  right: 0;
}

.dropdown-menu span {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-menu span:hover {
  background-color: #f1f1f1;
}