/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.custom-divider {
  height: 1px;
  box-shadow: 0 0 10px rgb(138, 138, 138);
  background-color: rgb(138, 138, 138);
  width: 100%;
}